---
name: offer
url: /:offer
title: Offer
parent: offers
controller: OfferController
loginRequired: true
securityLevel: 1
---
<div class="grid-block offer-page">

	<!-- WHEN SELECTED OFFER -->
	<div class="grid-content large-12 medium-12 small-12" ng-show="offer.status === 'requested'">
		<div class="card card-square">
			<div class="card-section left-card cus-card-sec info-div">
				<div class="grid-block align-left">
					<div class="grid-content small-12 medium-12 large-12">
						<label class="info-label card-row-label center">INFO: This offer is of Display-Version 1 (Outdated). <u class="link pointer" zf-open="confirm_modal" ng-click="genService.setConfirmAction(ChangeDisplayVersion, 2)">Click here</u> to convert it to Display Version 2 </label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="grid-content large-12 medium-12 small-12" ng-show="offer">
		<div class="card card-square">
			<div class="card-divider white-card-divider white-text">Company Information</div>
			<div class="card-section left-card cus-card-sec">
				<div class="grid-block align-left">
					<div class="grid-content small-6 medium-4 large-2">
						<label class="card-row-label">Liimex ID</label>
						<input class="card-row-input status-highlight grey-out" type="text" readonly value="{{company.liimex_id}}"/>
					</div>
					<div class="grid-content small-6 medium-4 large-2">
						<label class="card-row-label">Company Name</label>
						<input class="card-row-input status-highlight grey-out" type="text" readonly value="{{company.name}}"/>
					</div>
					<div class="grid-content small-6 medium-4 large-2">
						<label class="card-row-label">Type</label>
						<input class="card-row-input status-highlight grey-out" type="text" readonly value="{{company.type}}"/>
					</div>
					<div class="grid-content small-6 medium-4 large-2">
						<label class="card-row-label">Created At</label>
						<input class="card-row-input status-highlight grey-out" type="text" readonly value="{{company.created_at | amTimezone:'Europe/Berlin' | amDateFormat:'D MMMM YYYY HH:mm:ss'}}"/>
					</div>
				</div>
			</div>
		</div>
		<div class="card card-square">
			<div class="card-divider white-card-divider white-text">Selected Offer</div>
			<div class="card-section left-card cus-card-sec">
				<div class="grid-block align-left">
					<div class="grid-content small-3 medium-3 large-3">
						<label class="card-row-label">Status</label>
						<input class="card-row-input status-highlight grey-out" type="text" readonly value="{{offer.status}}"/>
					</div>
					<div class="grid-content small-3 medium-3 large-3">
						<label class="card-row-label">Request for</label>
						<input class="card-row-input status-highlight grey-out" type="text" readonly value="{{insurance_types[offer.subject].name_en}}"/>
					</div>
					<div class="grid-content small-3 medium-3 large-3">
						<label class="card-row-label">Requested</label>
						<input class="card-row-input status-highlight grey-out" type="text" readonly value="{{offer.created_at | amTimezone:'Europe/Berlin' | amDateFormat:'D MMMM YYYY HH:mm:ss'}}"/>
					</div>
					<div class="grid-content small-3 medium-3 large-3">
						<label class="card-row-label">Last Updated</label>
						<input class="card-row-input status-highlight grey-out" type="text" readonly value="{{offer.updated_at | amTimezone:'Europe/Berlin' | amDateFormat:'D MMMM YYYY HH:mm:ss'}}"/>
					</div>
					<div class="grid-content small-12 medium-12 large-12"></div>
					<div class="grid-content small-3 medium-3 large-2" ng-show="offer.advisor !== user.email">
						<label class="card-row-label"></label>
						<input type="button" class="button expand" ng-click="Lock()" value="Lock to you" ng-disabled="offer.advisor || offer.status ==='accepted' || offer.status ==='finalized' || offer.status ==='dismissed'" value="Disable"></input>
					</div>
					<div class="grid-content small-3 medium-3 large-2" ng-show="offer.advisor === user.email">
						<label class="card-row-label"></label>
						<input type="button" class="button expand" ng-click="Unlock()" value="Open for others"></input>
					</div>
					<div class="grid-content small-3 medium-3 large-2">
						<label class="card-row-label"></label>
						<input type="button" class="button expand" ng-click="Save()" ng-disabled="offer.advisor !== user.email || offer.status !== 'requested'" value="Save"></input>
					</div>
					<div class="grid-content small-3 medium-3 large-2">
						<label class="card-row-label"></label>
						<input type="button" class="button expand success" ng-click="genService.setConfirmAction(MarkAsOffered)" zf-open="confirm_modal" ng-disabled="offer.advisor !== user.email || offer.status !== 'requested' || !offer.comparisons || EnablePushToClient(offer) || unsaved_changes" value="Push to client"></input>
					</div>
					<div class="grid-content small-3 medium-3 large-2">
						<label class="card-row-label"></label>
						<input type="button" class="button expand alert" ng-click="genService.setConfirmAction(RevokeOffer)" zf-open="confirm_modal" ng-disabled="offer.advisor !== user.email || offer.status !== 'pushed'" value="Revoke Offer"></input>
					</div>
					<div class="grid-content small-3 medium-3 large-2" ng-show="offer.report">
						<label class="card-row-label"></label>
                        <button class="button expand" ng-click="DownloadReport()" ng-disabled="!offer.report || offer_in_progress || offer_broken"><span ng-show="offer_in_progress && !offer_broken"><i class="fa fa-spinner fa-spin"></i></span>
                            {{offer_in_progress ? "Checking..." : (offer_broken ? "Q&A Unavailable" : "Download Q&A")}}
                        </button>
					</div>
					<div class="grid-content small-3 medium-3 large-2" ng-show="!offer.report">
						<label class="card-row-label"></label>
                        <button class="button expand" ng-click="GenerateNewReport()" ng-disabled="offer_in_progress || offer_broken"><span ng-show="offer_in_progress && !offer_broken"><i class="fa fa-spinner fa-spin"></i></span>
                            {{offer_in_progress ? "Generating..." : (offer_broken ? "Q&A Unavailable" : "Generate Q&A")}}
                        </button>
					</div>
					<div class="grid-content small-3 medium-3 large-2">
						<label class="card-row-label"></label>
						<input type="button" class="button expand" ng-disabled="!offer.products" value="Products ({{number_of_eligible_products || 0}})" zf-open="products_for_offer"></input>
					</div>
					<div class="grid-content small-12 medium-12 large-12 status-highlight">
						Yo! Remember to save before pressing any other button
						<div class="red small-margin-above-below unsaved-changes-message" ng-show="unsaved_changes"><b>You have unsaved changes. Please Save first to enable 'Push To Client'</b></div>
					</div>
				</div>
			</div>
		</div>
		<div class="card card-square" ng-show="offer.status === 'accepted'">
			<div class="card-divider white-card-divider white-text">Finalization Needed!</div>
			<div class="card-section left-card cus-card-sec">
				<div class="grid-block align-left">
					<div class="grid-content small-12 medium-12 large-12 ">
						The client has accepted the offer indicated below. To turn this offer into an <b>active</b> policy for the client, please press the <b>Create Policy</b> button below. This will create a <b>pending policy</b> under the Extractions and move this offer into the <b>Finalized</b> section. If needed, please <b>remember</b> to download the files presented to the client in this offer. You can do this under the <b>View Files</b> button. <br><br> Upon pressing the button, you will be taken directly to the extraction, where some of the information will be pre-filled.
					</div>
					<div class="grid-content small-3 medium-3 large-2">
						<label class="card-row-label"></label>
						<input type="button" class="button expand"
						zf-open="confirm_modal" ng-click="genService.setConfirmAction(FinalizeOffer, offer.chosen_comparison)" ng-disabled="!offer.chosen_comparison" value="{{offer.chosen_comparison && 'Create Policy' || 'No Chosen Comparison'}}"></input>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-content small-3 medium-3 large-2">
			<label class="card-row-label"></label>
			<input type="submit" class="button expand" ng-click="AddOffer()" value="+ Add Comparison" ng-disabled="offer.advisor !== user.email || num_offers >= 3 || offer.status !== 'requested'"></input>
		</div>
		<div class="grid-content small-12 medium-12 large-12 status-highlight">
		</div>
	</div>
	<div class="grid-content large-12 medium-12 small-12 offer-comparison-attr" ng-show="offer" ng-repeat="(key, comparison) in offer.comparisons">
		<div class="card card-square" >
			<div class="card-divider cus-card-divider white-text" ng-hide="(offer.preferred === key && offer.status !== 'accepted') || (offer.status === 'accepted' && offer.chosen_comparison === key)">Comparison</div>
			<div class="card-divider cus-card-divider white-text open-card-divider" ng-show="offer.preferred === key && offer.status !== 'accepted'">Comparison (Preferred)</div>
			<div class="card-divider cus-card-divider white-text open-card-divider" ng-show="offer.chosen_comparison === key">Comparison (Chosen by Client)</div>
			<div class="card-section left-card cus-card-sec">
				<div class="grid-block align-left">
					<div class="grid-block small-12 medium-12 large-12 offer-comparison-main">
						<div class="grid-content small-12 medium-6 large-6 offer-comparison-inner">
							<label class="card-row-label">Carrier</label>
							<span>
								<select name="typeselector" ng-model="comparison.carrier" ng-change="UnsavedChanges()" required>
									<option ng-repeat="(key, carrier) in carriers" value="{{carrier.key}}" ng-show="!carrier.carrier.disabled">{{carrier.carrier.name}}</option>
								</select>
							</span>
						</div>
							<!-- <div class="grid-content small-6 medium-12 large-12">
								<label class="card-row-label">Policy Number</label>
								<input class="card-row-input status-highlight slimput" type="text" placeholder="HI3423" ng-model="comparison.policy_number" required/>
							</div> -->
						<div class="grid-content small-12 medium-6 large-6 offer-comparison-inner">
							<label class="card-row-label">Start Date</label>
							<input class="card-row-input status-highlight slimput" type="date" format-date ng-model="comparison.start_date" placeholder="12/12/2010" ng-change="UnsavedChanges()" required/>
						</div>
						<div class="grid-content small-12 medium-6 large-6 offer-comparison-inner">
							<label class="card-row-label">Renewal Date</label>
							<input class="card-row-input status-highlight slimput" type="date" format-date ng-model="comparison.end_date" ng-change="UnsavedChanges()" required/>
						</div>
						<div class="grid-content small-12 medium-6 large-6 offer-comparison-inner">
							<label class="card-row-label">Premium (€)</label>
							<input class="card-row-input status-highlight slimput" type="text" ng-model="comparison.premium" awnum num-thousand="true" num-sep="," num-int="8" ng-change="UnsavedChanges()" required/>
						</div>
						<div class="grid-content small-11 medium-5 large-5 offer-comparison-inner">
							<!-- <input name="{{key}}offer_deductibleType_radioGroup" id="{{key}}offer_deductibleType_percent" type = "radio"  ng-model= "deductibleType[key]" value="percent" /> -->
							<!-- <label for="{{key}}offer_deductibleType_percent">in percentage (%)</label> -->
							<!-- <input name="{{key}}offer_deductibleType_radioGroup" id="{{key}}offer_deductibleType_number" type = "radio"  ng-model= "deductibleType[key]" value="number" /> -->
							<!-- <label for="{{key}}offer_deductibleType_number">in euros (€)</label> -->
							<label class="card-row-label">deductible
								<span ng-show="deductibleType[key] == 'number'">(€ - Euros)</span>
								<span ng-hide="deductibleType[key] == 'number'">(% - Percent)</span>
							</label>
							<input class="card-row-input status-highlight slimput" type="text" ng-model="comparison.deductible" awnum num-thousand="true" num-sep="," num-int="8" ng-change="UnsavedChanges()" required/>
						</div>
						<div class="grid-content small-1 medium-1 large-1 offer-comparison-inner" ng-hide="deductibleType[key] === 'number'">
							<label class="card-row-label"></label>
							<input type="button" class="button expand bool-percent-euro" value="€" ng-click="deductibleType[key]='number'"></input>
						</div>
						<div class="grid-content small-1 medium-1 large-1 offer-comparison-inner" ng-show="deductibleType[key] === 'number'" >
							<label class="card-row-label"></label>
							<input type="button" class="button expand bool-percent-euro" value="%" ng-click="deductibleType[key]='percent'" ></input>
						</div>
						<div class="grid-content small-12 medium-6 large-6 offer-comparison-inner">
							<label class="card-row-label">Sum Insured (€)</label>
							<input class="card-row-input status-highlight slimput" type="text" ng-model="comparison.sum_insured" awnum num-thousand="true" num-sep="," num-int="8" ng-change="UnsavedChanges()" required/>
						</div>
					</div>
					<div class="grid-block small-12 medium-12 large-12 offer-comparison-main">
						<div class="grid-content small-12 medium-12 large-12 offer-comparison-inner">
							<label class="card-row-label">Note</label>
							<div class="text-editor insurancetype-text-editor" text-angular ng-model="comparison.note" ng-change="UnsavedChanges()"></div>
						</div>
					</div>
					<div class="card-divider cus-card-divider white-text pending-card-divider small-12 medium-12 large-12 add-top-margin">
						Policy Type Specific Criterias
					</div>
					<div class="grid-content small-12 medium-4 large-4" ng-repeat="(i_key, field) in custom_fields" ng-hide="field.field.disabled">
						<div ng-show="field.field.type === 'text'">
							<label class="card-row-label">{{field.field.title_en}}</label>
							<input class="card-row-input status-highlight slimput" type="text" placeholder="{{field.field.placeholder}}" ng-model="comparison.custom_fields[field.key]" ng-change="UnsavedChanges()" required/>
						</div>
						<div ng-show="field.field.type === 'date'">
							<label class="card-row-label">{{field.field.title_en}}</label>
							<input class="card-row-input status-highlight slimput" type="date" placeholder="{{field.field.placeholder}}" format-date ng-model="comparison.custom_fields[field.key]" ng-change="UnsavedChanges()" required />
						</div>
						<div ng-show="field.field.type === 'currency'">
							<label class="card-row-label">{{field.field.title_en + ' (€)'}}</label>
							<input class="card-row-input status-highlight slimput" type="text" placeholder="{{field.field.placeholder}}" ng-model="comparison.custom_fields[field.key]" ng-change="UnsavedChanges()" required awnum num-thousand="true" num-sep="," num-int="8"/>
						</div>
						<div ng-show="field.field.type === 'choice'">
							<label class="card-row-label">{{field.field.title_en}}</label>
							<input name="{{key+field.key}}" type="radio" id="{{key+field.key}}3" ng-value="true" ng-model="comparison.custom_fields[field.key]" ng-change="UnsavedChanges()"/>
							<label for="{{key+field.key}}3">True</label>
							<input name="{{key+field.key}}" type="radio" id="{{key+field.key}}4" ng-value="false" ng-model="comparison.custom_fields[field.key]" ng-change="UnsavedChanges()"/>
							<label for="{{key+field.key}}4">False</label>
						</div>
					</div>
					<div class="card-divider cus-card-divider white-text pending-card-divider small-12 medium-12 large-12 add-top-margin">
						Industry Specific Criterias
					</div>
					<div class="grid-content small-12 medium-4 large-4" ng-repeat="(i_key, field) in industry_fields" ng-hide="field.field.disabled">
						<div ng-show="field.field.type === 'text'">
							<label class="card-row-label">{{field.field.title_en}}</label>
							<input class="card-row-input status-highlight slimput" type="text" placeholder="{{field.field.placeholder}}" ng-model="comparison.custom_fields[field.key]" ng-change="UnsavedChanges()" required />
						</div>
						<div ng-show="field.field.type === 'date'">
							<label class="card-row-label">{{field.field.title_en}}</label>
							<input class="card-row-input status-highlight slimput" type="date" placeholder="{{field.field.placeholder}}" format-date ng-model="comparison.custom_fields[field.key]" ng-change="UnsavedChanges()" required />
						</div>
						<div ng-show="field.field.type === 'currency'">
							<label class="card-row-label">{{field.field.title_en + ' (€)'}}</label>
							<input class="card-row-input status-highlight slimput" type="text" placeholder="{{field.field.placeholder}}" ng-model="comparison.custom_fields[field.key]" required awnum num-thousand="true" num-sep="," num-int="8" ng-change="UnsavedChanges()"/>
						</div>
						<div ng-show="field.field.type === 'choice'">
							<label class="card-row-label">{{field.field.title_en}}</label>
							<input name="{{key+field.key}}" type="radio" id="{{key+field.key}}3" ng-value="true" ng-model="comparison.custom_fields[field.key]" ng-change="UnsavedChanges()"/>
							<label for="{{key+field.key}}3">True</label>
							<input name="{{key+field.key}}" type="radio" id="{{key+field.key}}4" ng-value="false" ng-model="comparison.custom_fields[field.key]" ng-change="UnsavedChanges()"/>
							<label for="{{key+field.key}}4">False</label>
						</div>
					</div>
					<div class="grid-content small-12 medium-12 large-12"></div>
					<div class="grid-content small-3 medium-3 large-2">
						<label class="card-row-label"></label>
						<input type="button" class="button expand " ng-disabled="offer.advisor !== user.email || offer.preferred === key" value="Make Preferred" ng-click="offer.preferred = key"></input>
					</div>
					<div class="grid-content small-3 medium-3 large-2" ng-hide="!!offer.chosen_comparison">
						<label class="card-row-label"></label>
						<input type="submit" class="button expand"  zf-open="manage_generic_files_modal" ng-disabled="offer.chosen_comparison !== key && (offer.advisor !== user.email || offer.status !== 'requested')" ng-click="SelectComparison(key)" value="Manage Files"></input>
					</div>
					<div class="grid-content small-3 medium-3 large-2" ng-show="!!offer.chosen_comparison">
						<label class="card-row-label"></label>
						<input type="submit" class="button expand"  zf-open="manage_files_no_delete_modal" ng-disabled="offer.chosen_comparison !== key && (offer.advisor !== user.email || offer.status !== 'requested')" ng-click="SelectComparison(key)" value="View Files"></input>
					</div>
					<div class="grid-content small-3 medium-3 large-2">
						<label class="card-row-label"></label>
						<input type="button" class="button expand alert" ng-disabled="offer.advisor !== user.email || offer.status !== 'requested'" value="Delete" ng-click="DeleteComparison(key)"></input>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Includes -->
<div ng-include="" src="'partials/modals/confirm.html'"></div>
<div ng-include="" src="'partials/modals/editalias.html'"></div>
<div ng-include="" src="'partials/modals/managegenericfiles.html'"></div>
<div ng-include="" src="'partials/modals/managefiles_nodelete.html'"></div>
<div ng-include="" src="'partials/modals/productsforoffer.html'"></div>
